<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.cvut.fit.shiftify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonDetailActivity"
            android:label="@string/title_activity_person_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PersonEditActivity"
            android:label="@string/title_activity_person_edit"
            android:theme="@style/AppTheme"
            ></activity>

        /* Schedule - activities */
        <activity
            android:name=".schedules.ScheduleListActivity"
            android:label="@string/schedules_list" />
        <activity
            android:name=".schedules.ScheduleAddActivity"
            android:label="@string/schedule_add" />
        <activity
            android:name=".schedules.ScheduleEditActivity"
            android:label="@string/schedule_edit" />

    </application>

</manifest>